<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Define your custom loggers and appenders here -->
    <logger name="com.example.mail.Controlleur.MailControlleur" level="DEBUG"/>
    <logger name="com.example.mail.Service.EmailService" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
